<div ng-controller="hikingCtrl">
    <header-dir></header-dir>

    <h1>Hiking Trails</h1>

    <input type="text" ng-model="stateName" placeholder="State...">
    <button type="button" ng-click="getHikeData()">FIND</button>

    <h2>{{ stateName | uppercase }}</h2>

    <section>
        <div class="" ng-repeat="hike in hikeData track by $index">
            <h4>{{hike.name}}</h4>
            <ul ng-repeat="detail in hikeData[$index].activities">
                <li>City: {{ hike.city }}</li>
                <li>Description: {{detail.description}}</li>
                <li>Directions: {{ hike.directions }}</li>
            </ul>
        </div>

    </section>

</div>
