<header-dir></header-dir>
<div id="mtnbike">
    <section id="wrapper">
        <div ng-controller="mtnBikeCtrl">
            <section class="content">
                <h1>Moutain Bike Trails</h1>
                <!-- <h4>Enter a State</h4> -->
                <form ng-submit="getMtnBikeData()" class="inset">
                    <input type="text" ng-model="stateName" placeholder="State...">
                    <input type="submit" value="FIND" class="button">
                    <input type="text" ng-model="city" placeholder="Filter..." class="filter">
                </form>
            </section>
            <section class="list">
                <div class="chunk" ng-repeat="trail in mountainBikeData | filter: city track by $index">
                    <h4 ng-click="showDetails = !showDetails"><a href="">Trail: {{trail.name}} <br /> City: {{ trail.city}}</a></h4>
                    <ul ng-show="showDetails" ng-repeat="detail in mountainBikeData[$index].activities" class="details">
                        <li><strong>Description:</strong> {{detail.description}}</li>
                        <li><strong>Directions:</strong> {{ trail.directions }}</li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
</div>
<foot-dir></foot-dir>
