<header-dir></header-dir>
<div id="resort">
    <section id="wrapper">
        <div ng-controller="resortsCtrl">
            <section class="content">
                <h1>Ski Resorts</h1>
                <!-- <h4>Enter a State</h4> -->
                <form ng-submit="getResortData()" class="inset">
                    <input type="text" ng-model="stateName" placeholder="State...">
                    <input type="submit" value="FIND" class="button">
                    <input type="text" ng-model="city" placeholder="Filter..." class="filter">
                </form>
            </section>
            <section class="list">
                <div class="chunk" ng-repeat="resort in resortsData | filter: city track by $index">
                    <h4 ng-click="showDetails = !showDetails"><a href="">Resort: {{resort.name}} <br />City: {{ resort.city }}</a></h4>
                    <ul ng-show="showDetails" ng-repeat="detail in resortsData[$index].activities" class="details">
                        <li><strong>Description: </strong>{{detail.description}}</li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
</div>
<foot-dir></foot-dir>
